@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@aws-amplify/ui-react/styles.css';

@import 'buttons.css';
@import 'amplify.css';
@import 'TemperatureRange.css';
@import 'text.css';
@import url('/font-awesome-4.6.3/css/font-awesome.min.css');

:root {
  --mint: hsl(158.1, 48.8%, 50%);
  --mint-shaded: hsl(158.1, 59%, 35%);
  --mint-faded: hsl(158.1, 59%, 85%);
  --mint-ghost: hsl(158.1, 59%, 85%, 0.7);
  --sienna: hsl(16, 100%, 46%);
  --sienna-faded: hsl(16, 100%, 85%);
  --burntOrange: hsl(25, 100%, 40%);
  --amplify-components-fieldcontrol-color: var(--mint-shaded);
  --amplify-components-field-label-color: var(--mint-shaded);
  --amplify-components-button-hover-border-color: var(--mint-shaded);
  --amplify-components-button-primary-focus-border-color: var(--mint-shaded);
  --amplify-components-tabs-item-focus-color: var(--amplify-colors-white);
  --amplify-components-tabs-item-active-color: var(--amplify-colors-white);
  --amplify-components-tabs-item-active-border-color: var(--mint-faded);
  --amplify-components-tabs-item-active-background-color: var(--mint);

  --amplify-components-tabs-item-color: var(--mint);
  --amplify-components-authenticator-state-inactive-background-color: var(--mint-faded);

  --highUrl: url(/assets/icons/sm-blazingSun.png);
  --lowUrl: url(/assets/icons/sm-snowflake.png);
  --trackImgTop: 50%
  --trackImgBot: 50%
}

@keyframes rotating {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.slide-controller {
  height: 350px;
}

.targetReticle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 350px;

  background:
    linear-gradient(to right, var(--mint-ghost) 5px, transparent 5px) 0 5px,
    linear-gradient(to right, var(--mint-ghost) 5px, transparent 5px) 0 calc(100% - 5px),
    linear-gradient(to left, var(--mint-ghost) 5px, transparent 5px) 100% 5px,
    linear-gradient(to left, var(--mint-ghost) 5px, transparent 5px) 100% calc(100% - 5px),
    linear-gradient(to bottom, var(--mint-ghost) 5px, transparent 5px) 0 0,
    linear-gradient(to bottom, var(--mint-ghost) 5px, transparent 5px) 100% 0,
    linear-gradient(to top, var(--mint-ghost) 5px, transparent 5px) 0 100%,
    linear-gradient(to top, var(--mint-ghost) 5px, transparent 5px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 34px 30px;
}

.cardItem {
  user-select: none;
}

.washPercentage {
  width: 94px;
  text-align: end;
}
