@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@aws-amplify/ui-react/styles.css';

:root {
  --mint-primary: hsl(158.1, 48.8%, 50%);
  --mint-shaded: hsl(158.1, 59%, 39.2%);
  --mint-faded: hsl(158.1, 59%, 90%);
  --amplify-components-fieldcontrol-color: var(--mint-shaded);
  --amplify-components-field-label-color: var(--mint-shaded);
  /* --amplify-components-button-hover-background-color: var(--mint-faded); */
  --amplify-components-button-hover-border-color: var(--mint-shaded);
  /* --amplify-components-button-primary-border-color: var(--mint-primary); */
  --amplify-components-button-primary-focus-border-color: var(--mint-shaded);

  /* --amplify-components-tabs-item-hover-color: var(--amplify-colors-black); */
  --amplify-components-tabs-item-focus-color: var(--amplify-colors-white);
  --amplify-components-tabs-item-active-color: var(--amplify-colors-white);
  --amplify-components-tabs-item-active-border-color: var(--mint-faded);
  --amplify-components-tabs-item-active-background-color: var(--mint-primary);

  --amplify-components-tabs-item-color: var(--mint-primary);
  --amplify-components-authenticator-state-inactive-background-color: var(--mint-faded);

  /* --amplify-colors-background-primary: var(--amplify-colors-neutral-90);
  --amplify-colors-background-secondary: var(--amplify-colors-neutral-100);
  --amplify-colors-brand-primary-10: var(--amplify-colors-teal-100);
  --amplify-colors-brand-primary-80: var(--amplify-colors-teal-40);
  --amplify-colors-brand-primary-90: var(--amplify-colors-teal-20);
  --amplify-colors-brand-primary-100: var(--amplify-colors-teal-10);
  --amplify-colors-font-interactive: var(--amplify-colors-white);
  --amplify-components-tabs-item-active-color: var(--amplify-colors-white);
  --amplify-components-tabs-item-focus-color: var(--amplify-colors-white);
  --amplify-components-tabs-item-hover-color: var(--amplify-colors-orange); */
}

[data-amplify-authenticator] [data-amplify-router] {
  border-color: var(--mint-shaded);
}

/* ###### Amplify Buttons ####### */

.amplify-button[data-variation='primary'] {
/* .amplify-button { */
  background: var(--mint-primary);
}

.amplify-button[data-variation='primary']:hover {
/* .amplify-button:hover { */
  animation-name: button-flare-shaded;
  animation-duration: 0.35s;
  /* animation-fill-mode: forwards; */
  background: var(--mint-shaded);
}

.federated-sign-in-button {
  border-color: var(--mint-primary);
}

.federated-sign-in-button:hover {
  animation-name: button-flare-faded;
  animation-duration: 0.35s;
  background: var(--mint-faded);
}

.amplify-button--link {
  color: var(--mint-shaded);
  font-weight: bold !important;
}

.amplify-button--link:focus {
  border-color: var(--mint-shaded);
  outline: none;
}

.amplify-button--link:hover {
  background-color: var(--mint-faded);
}

/* ###### Amplify Divider ###### */
.amplify-divider {
  border-color: var(--mint-shaded);
}

.amplify-divider--label::after {
  color: var(--mint-shaded);
}

/* Amplify Labels */
.amplify-label {
  font-weight: bold;
  color: var(--mint-shaded);
}

.amplify-text {
  font-weight: bold;
  color: var(--mint-shaded);
}

.amplify-input {
  border-color: var(--mint-primary);
}

.amplify-input:focus {
  background-color: var(--mint-faded);
}

.amplify-input:focus-visible {
  outline: solid var(--mint-shaded);
  color: var(--amplify-components-tabs-item-hover-color);
}

.amplify-input:hover {
  animation-name: button-flare-faded;
  animation-duration: 0.35s;
  background: var(--mint-faded);
}

.amplify-heading--3 {
  color: var(--mint-shaded);
}

@keyframes button-flare-shaded {
  0% {
    background: linear-gradient(
      110deg,
      var(--amplify-colors-white) 2%,
      var(--mint-shaded) 7%
    );
  }
  5% {
    background: linear-gradient(
      110deg,
      var(--mint-shaded) 2%,
      var(--amplify-colors-white) 7%,
      var(--mint-shaded) 12%
    );
  }
  10% {
    background: linear-gradient(
      110deg,
      var(--mint-shaded) 7%,
      var(--amplify-colors-white) 12%,
      var(--mint-shaded) 17%
    );
  }
  15% {
    background: linear-gradient(
      110deg,
      var(--mint-shaded) 12%,
      var(--amplify-colors-white) 17%,
      var(--mint-shaded) 22%
    );
  }
  20% {
    background: linear-gradient(
      110deg,
      var(--mint-shaded) 17%,
      var(--amplify-colors-white) 22%,
      var(--mint-shaded) 27%
    );
  }
  25% {
    background: linear-gradient(
      110deg,
      var(--mint-shaded) 22%,
      var(--amplify-colors-white) 27%,
      var(--mint-shaded) 32%
    );
  }
  30% {
    background: linear-gradient(
      110deg,
      var(--mint-shaded) 27%,
      var(--amplify-colors-white) 32%,
      var(--mint-shaded) 37%
    );
  }
  35% {
    background: linear-gradient(
      110deg,
      var(--mint-shaded) 32%,
      var(--amplify-colors-white) 37%,
      var(--mint-shaded) 42%
    );
  }
  40% {
    background: linear-gradient(
      110deg,
      var(--mint-shaded) 37%,
      var(--amplify-colors-white) 42%,
      var(--mint-shaded) 47%
    );
  }
  45% {
    background: linear-gradient(
      110deg,
      var(--mint-shaded) 42%,
      var(--amplify-colors-white) 47%,
      var(--mint-shaded) 52%
    );
  }
  50% {
    background: linear-gradient(
      110deg,
      var(--mint-shaded) 47%,
      var(--amplify-colors-white) 52%,
      var(--mint-shaded) 57%
    );
  }
  55% {
    background: linear-gradient(
      110deg,
      var(--mint-shaded) 52%,
      var(--amplify-colors-white) 57%,
      var(--mint-shaded) 62%
    );
  }
  60% {
    background: linear-gradient(
      110deg,
      var(--mint-shaded) 57%,
      var(--amplify-colors-white) 62%,
      var(--mint-shaded) 67%
    );
  }
  65% {
    background: linear-gradient(
      110deg,
      var(--mint-shaded) 62%,
      var(--amplify-colors-white) 67%,
      var(--mint-shaded) 72%
    );
  }
  70% {
    background: linear-gradient(
      110deg,
      var(--mint-shaded) 67%,
      var(--amplify-colors-white) 72%,
      var(--mint-shaded) 77%
    );
  }
  75% {
    background: linear-gradient(
      110deg,
      var(--mint-shaded) 72%,
      var(--amplify-colors-white) 77%,
      var(--mint-shaded) 82%
    );
  }
  80% {
    background: linear-gradient(
      110deg,
      var(--mint-shaded) 77%,
      var(--amplify-colors-white) 82%,
      var(--mint-shaded) 87%
    );
  }
  85% {
    background: linear-gradient(
      110deg,
      var(--mint-shaded) 82%,
      var(--amplify-colors-white) 87%,
      var(--mint-shaded) 92%
    );
  }
  90% {
    background: linear-gradient(
      110deg,
      var(--mint-shaded) 87%,
      var(--amplify-colors-white) 92%,
      var(--mint-shaded) 97%
    );
  }
  95% {
    background: linear-gradient(
      110deg,
      var(--mint-shaded) 92%,
      var(--amplify-colors-white) 97%
    );
  }
  100% {
    background: var(--mint-shaded);
  }
}

@keyframes button-flare-faded {
  0% {
    background: linear-gradient(
      110deg,
      var(--amplify-colors-white) 2%,
      var(--mint-faded) 7%
    );
  }
  5% {
    background: linear-gradient(
      110deg,
      var(--mint-faded) 2%,
      var(--amplify-colors-white) 7%,
      var(--mint-faded) 12%
    );
  }
  10% {
    background: linear-gradient(
      110deg,
      var(--mint-faded) 7%,
      var(--amplify-colors-white) 12%,
      var(--mint-faded) 17%
    );
  }
  15% {
    background: linear-gradient(
      110deg,
      var(--mint-faded) 12%,
      var(--amplify-colors-white) 17%,
      var(--mint-faded) 22%
    );
  }
  20% {
    background: linear-gradient(
      110deg,
      var(--mint-faded) 17%,
      var(--amplify-colors-white) 22%,
      var(--mint-faded) 27%
    );
  }
  25% {
    background: linear-gradient(
      110deg,
      var(--mint-faded) 22%,
      var(--amplify-colors-white) 27%,
      var(--mint-faded) 32%
    );
  }
  30% {
    background: linear-gradient(
      110deg,
      var(--mint-faded) 27%,
      var(--amplify-colors-white) 32%,
      var(--mint-faded) 37%
    );
  }
  35% {
    background: linear-gradient(
      110deg,
      var(--mint-faded) 32%,
      var(--amplify-colors-white) 37%,
      var(--mint-faded) 42%
    );
  }
  40% {
    background: linear-gradient(
      110deg,
      var(--mint-faded) 37%,
      var(--amplify-colors-white) 42%,
      var(--mint-faded) 47%
    );
  }
  45% {
    background: linear-gradient(
      110deg,
      var(--mint-faded) 42%,
      var(--amplify-colors-white) 47%,
      var(--mint-faded) 52%
    );
  }
  50% {
    background: linear-gradient(
      110deg,
      var(--mint-faded) 47%,
      var(--amplify-colors-white) 52%,
      var(--mint-faded) 57%
    );
  }
  55% {
    background: linear-gradient(
      110deg,
      var(--mint-faded) 52%,
      var(--amplify-colors-white) 57%,
      var(--mint-faded) 62%
    );
  }
  60% {
    background: linear-gradient(
      110deg,
      var(--mint-faded) 57%,
      var(--amplify-colors-white) 62%,
      var(--mint-faded) 67%
    );
  }
  65% {
    background: linear-gradient(
      110deg,
      var(--mint-faded) 62%,
      var(--amplify-colors-white) 67%,
      var(--mint-faded) 72%
    );
  }
  70% {
    background: linear-gradient(
      110deg,
      var(--mint-faded) 67%,
      var(--amplify-colors-white) 72%,
      var(--mint-faded) 77%
    );
  }
  75% {
    background: linear-gradient(
      110deg,
      var(--mint-faded) 72%,
      var(--amplify-colors-white) 77%,
      var(--mint-faded) 82%
    );
  }
  80% {
    background: linear-gradient(
      110deg,
      var(--mint-faded) 77%,
      var(--amplify-colors-white) 82%,
      var(--mint-faded) 87%
    );
  }
  85% {
    background: linear-gradient(
      110deg,
      var(--mint-faded) 82%,
      var(--amplify-colors-white) 87%,
      var(--mint-faded) 92%
    );
  }
  90% {
    background: linear-gradient(
      110deg,
      var(--mint-faded) 87%,
      var(--amplify-colors-white) 92%,
      var(--mint-faded) 97%
    );
  }
  95% {
    background: linear-gradient(
      110deg,
      var(--mint-faded) 92%,
      var(--amplify-colors-white) 97%
    );
  }
  100% {
    background: var(--mint-shaded);
  }
}
