/* #highTemp:hover {
  pointer-events: all;
} */

/* Removing the default appearance */
.tempSlider,
.tempSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.tempSlider {
  pointer-events: none;
  position: absolute;
  height: 0;
  outline: none;
  background-color: transparent;
}

/* For Chrome browsers */
.tempSlider::-webkit-slider-thumb {
  border: none;
  background-color: transparent;
  background: var(--lowUrl) center center no-repeat;
  background-size: cover;

  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4.5px;
  pointer-events: all;
  position: relative;

  font-weight: 600;
  height: 25px;
  width: 25px;
}

#lowTemp::-webkit-slider-thumb {
  background: var(--lowUrl) center center no-repeat;
  background-size: cover;
}

#highTemp::-webkit-slider-thumb {
  background: var(--highUrl) center center no-repeat;
  background-size: cover;
}

/* For Firefox browsers */
.tempSlider::-moz-range-thumb {
  border: none;
  background-color: transparent;

  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4.5px;
  pointer-events: all;
  position: relative;

  font-weight: 600;
  height: 25px;
  width: 25px;
}

#lowTemp::-moz-range-thumb {
  background: var(--lowUrl) center center no-repeat;
  background-size: cover;
}

#highTemp::-moz-range-thumb {
  background: var(--highUrl) center center no-repeat;
  background-size: cover;
}

/* Carousel Styles  */

#top_track,
#bot_track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

#top_track img {
  width: 40vmin;
  height: 350px;
  object-fit: cover;
  object-position: var(--trackImgTop) 50%;
}

#bot_track img {
  width: 40vmin;
  height: 350px;
  object-fit: cover;
  object-position: var(--trackImgBot) 50%;
}
